<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      internalLogFile="${basedir}/logs/internal.log"
      internalLogLevel="Warn">
    <variable name="logDirectory" value="${basedir}\logs\${shortdate}\"/>
    <targets>
        <target name="system" xsi:type="File" fileName="${logDirectory}/system.log"/>
        <target name="custom" xsi:type="File" fileName="${logDirectory}/${logger:shortName=True}.log"/>
        <target xsi:type="RichTextBox"
                name="textBox"
                layout="${longdate}${newline}[${level:uppercase=true}]|${logger:shortName=True}|${newline}${message}${newline}"
                height="600"
                autoScroll="true"
                maxLines="0"
                showMinimized="false"
                toolWindow="true"
                controlName="_uiLogsRichTextBox"
                formName="MainForm"
                width="400"
                useDefaultRowColoringRules="true"
                allowAccessoryFormCreation="false"
                messageRetention="All"
                supportLinks="false"/>
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="textBox"/>
        <logger name="SpaceSnoop.*" writeTo="custom" final="true"/>
        <logger name="*" levels="Info,Debug,Error" writeTo="system"/>
    </rules>
    <extensions>
        <add assembly="NLog.Windows.Forms"/>
    </extensions>
</nlog>